# ValidationResult

## ValidationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **separatorValid** | **Bool** | Separator valid in the upload | |
| **fileEncodingValid** | **Bool** | File encoding valid for the upload | |
| **errors** | [**[ValidationError]**]([ValidationError]) | List of errors for the upload | |



_PureCloudPlatformClientV2@203.0.0_
