# VerificationResult

## VerificationResult

## Properties

|Name | Type | Description | Notes|
|------------ | ------------- | ------------- | -------------|
| **status** | **String** | The verification status. | [optional] |
| **records** | [**[Record]**](Record) | The list of DNS records that pertain that need to exist for verification. | [optional] |



_PureCloudPlatformClientV2@159.0.0_
